# Notebook pour le challenge sur la lecture de fichiers

In [1]:
import pandas as pd
from simpledbf import Dbf5

txt_filepath = "data/prima.txt"
csv_filepath = "data/mar2012.csv"
dbf_filepath = "data/mar2012.dbf"

def read_txt_file():
    
    """Ouvre le fichier prima.txt, stocke le contenu dans txt_df"""
    
    txt_df = pd.read_table(txt_filepath)
    return txt_df

def read_csv_file():
    
    """Récupère les données du csv"""
    
    csv_df = pd.read_csv(csv_filepath)
    return csv_df

def read_dbf_file():
    
    """Récupère les données du fichier dbf"""
    
    dbf = Dbf5(dbf_filepath)
    dbf_df = dbf.to_dataframe()
    return dbf_df

print("Aperçu des données récupérées :")
print("prima.txt :", read_txt_file())
print("mar2012.csv : ", read_csv_file())
print("mar2012.dbf : ", read_dbf_file())

Aperçu des données récupérées :
prima.txt :      pregnant  glucose  diastolic  triceps  insulin   bmi  diabetes  age  test
0           6      148         72       35        0  33.6     0.627   50     1
1           1       85         66       29        0  26.6     0.351   31     0
2           8      183         64        0        0  23.3     0.672   32     1
3           1       89         66       23       94  28.1     0.167   21     0
4           0      137         40       35      168  43.1     2.288   33     1
..        ...      ...        ...      ...      ...   ...       ...  ...   ...
763        10      101         76       48      180  32.9     0.171   63     0
764         2      122         70       27        0  36.8     0.340   27     0
765         5      121         72       23      112  26.2     0.245   30     0
766         1      126         60        0        0  30.1     0.349   47     1
767         1       93         70       31        0  30.4     0.315   23     0

[768 rows x 9 columns]

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_7896\775285812.py:21: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_df = pd.read_csv(csv_filepath)

mar2012.csv :          ANAISH DEPNAISH  INDNATH  ETAMATH  ANAISF DEPNAISF  INDNATF  ETAMATF  \
0         1982       75        1        1    1984       99        2        1
1         1956       69        2        4    1969       99        2        4
2         1982       99        2        1    1992       99        1        1
3         1985       99        2        1    1987       84        1        1
4         1968       99        2        1    1963       99        2        1
...        ...      ...      ...      ...     ...      ...      ...      ...
246118    1948       99        1        4    1955       27        1        1
246119    1961       99        1        4    1976       99        2        1
246120    1963       60        1        4    1970      971        1        4
246121    1973       99        2        1    1985      971        1        1
246122    1980       99        2        1    1982       90        1        1

        AMAR  MMAR  JSEMAINE DEPMAR DEPDOM  TUDOM TUCOM NBENFCOM
0       2012     1         1     29     99      9   NaN        N
1       2012     1         3     75     99      9   NaN        N
2       2012     1         5     34     99      9   NaN        N
3       2012     1         4     13     99      9   NaN        N
4       2012     1         6     26     99      9   NaN        N
...      ...   ...       ...    ...    ...    ...   ...      ...
246118  2012    12         6    978    978      9     P        N
246119  2012    12         6    978    978      9     P        O
246120  2012    12         5    978    978      9     P        N
246121  2012    12         5    978    978      9     P        N
246122  2012    12         5    978    978      9     P        N

[246123 rows x 16 columns]
mar2012.dbf :         ANAISH DEPNAISH INDNATH ETAMATH ANAISF DEPNAISF INDNATF ETAMATF  AMAR  \
0        1982       75       1       1   1984       99       2       1  2012
1        1956       69       2       4   1969       99       2       4  2012
2        1982       99       2       1   1992       99       1       1  2012
3        1985       99       2       1   1987       84       1       1  2012
4        1968       99       2       1   1963       99       2       1  2012
...       ...      ...     ...     ...    ...      ...     ...     ...   ...
246118   1948       99       1       4   1955       27       1       1  2012
246119   1961       99       1       4   1976       99       2       1  2012
246120   1963       60       1       4   1970      971       1       4  2012
246121   1973       99       2       1   1985      971       1       1  2012
246122   1980       99       2       1   1982       90       1       1  2012

       MMAR JSEMAINE DEPMAR DEPDOM TUDOM TUCOM NBENFCOM
0        01        1     29     99     9   NaN        N
1        01        3     75     99     9   NaN        N
2        01        5     34     99     9   NaN        N
3        01        4     13     99     9   NaN        N
4        01        6     26     99     9   NaN        N
...     ...      ...    ...    ...   ...   ...      ...
246118   12        6    978    978     9     P        N
246119   12        6    978    978     9     P        O
246120   12        5    978    978     9     P        N
246121   12        5    978    978     9     P        N
246122   12        5    978    978     9     P        N

[246123 rows x 16 columns]